/* ============ All Product Section Css ============== */
 
/* ====== Featured Items Css ====== */

/* .featuredItems {
    height: auto;
    width: 100%;
}

.featuredItems-container {
    width: 100%;
    height: auto;
    margin: 80px 0;
}

.new-arrivals {
    margin: 40px 0;
    text-align: center;
}

.line {
    position: relative;
    font-size: 35px;
}

.line::before,
.line::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    top: 50%;
    background-color: #fff;
}

.line::before {
    left: 0;
}

.line::after {
    right: 0;
}

.itemsContainer {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.items > img {
    
    height: 300px;
    position: relative;
}

.items > i {
    position: absolute;
    bottom: -100px;
    display: block; 
} */