/* ============= google Fonts Poppins Link ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ============== Nunito Sans google font =============== */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* ==== Montserrat Font ====== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* === Jost Font === */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Poppins", sans-serif;
    --header-background-color: ##181A1B;
    --strip-secondary-color: #1F2123;
    --primary-font-color: white;
    --dropDown-content-Background-color: #181A1B;
    --navigation-Menu-hover-color: rgb(119, 118, 118);
    --main-section-background-color: #640207;
    --background-color-btn-afterHover: white;
    --text-primary-color-hover: #000;
    --text-primary: #fff;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    border: 0;
    outline: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #000 !important;
}

/*  ========= Header Css ========== */
.header {
    width: 100%;
    background-color: var(--header-background-color);
}

.logoWithIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
}

.header .logoWithIcons .socialIcons a {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    text-decoration: none;
    color: var(--primary-font-color);
}

.header .logoWithIcons .logo {
    color: var(--primary-font-color);
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
}

.header .logoWithIcons .icons .MenuItems {
    display: inline-block;
    padding: 5px 0 10px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    color: var(--primary-font-color);
}
.slick-arrow{
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transform: translate(0, -78%);
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.slick-dots{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
ul.slick-dots li button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: transparent;
}

.slick-prev{
    left: -35px;
}
.slick-next{
    right: -35px;
}
/* ========== Navigation Bar ============= */
.main-menu{
    margin: 20px 0 16px 0;
}

.main-menu nav > ul {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.main-menu nav > ul li {
    position: relative;
}
.main-menu nav > ul li a {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    color: #fff;

}
.main-menu nav > ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transition: all .5s;
    
}
.main-menu nav > ul li ul{
    position: absolute;
    top: 28px;
    left: 0;
    width: 170px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    z-index: 1;
    text-align: center;
}
.main-menu nav > ul li ul li a {
    color: #000;
    padding: 5px 0px; 
    font-size: 16px;
}



/* ======== Strip ======== */

.header .strip {
    background-color: #fff;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.header .strip i {
    align-content: center;
    position: relative;
    right: 10px;
    display: block;
    margin-left: 30px;
}

.header .strip .heading {
    font-size: 16px;
    font-weight: 500;
}

.header .strip .subText {
    font-size: 9px;
    font-weight: 400;
}

.strip .return {
    align-content: center;
    display: inline-block;
    position: relative;
    left: -40px;
}

.strip .freeExchange {
    align-content: center;
    position: relative;
    left: -40px;
}

.strip .freeDelivery {
    align-content: center;
    position: relative;
    left: -40px;
}

.strip .warranty {
    align-content: center;
    position: relative;
    left: -40px;
}

/* =========== Carousel section Css Start ============ */

.carousel {
    height: 500px;
    width: 100%;
    margin-top: 81px;
}

.carousel .container {
    display: flex;
    justify-content: space-between;
}

.carousel .container .text {
    background-color: var(--main-section-background-color);
    width: 50%;
    height: 542px;
}

.container .image {
    width: 50%;
}

.container .image img {
    width: 100%;
    height: 542px;
}

.container .text {
    text-align: center;
    align-content: center;
}

.text .textAndHeadings {
    line-height: 5rem;
}

.mainHeading {
    font-size: 4rem;
}

.text .subtext2 {
    margin-block-end: -14px;
    font-size: 0.9rem;
}

.text .slogan {
    font-size: 1.6rem;
    letter-spacing: -1px;
}

.text .button .btn {
    padding: 14px;
    background-color: var(--dropDown-content-Background-color);
    text-decoration: none;
    color: var(--text-primary);
}

.text .button .btn:hover {
    color: var(--text-primary-color-hover);
    background-color: var(--background-color-btn-afterHover);
}

/* ============= Carousel section Css Ends ============== */

/* ============ All Product Section Css ============== */


.category img{
    width: 100%;
    border-radius: 50%;
}
.category h3 a{
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding-top: 10px;
}

.category h3:hover {
    color: rgb(14, 193, 174);
}

/* ========= Utility Classes ============ */
.forDisplay {
    display: block;
}

.oneClass {
    width: 170px;
    border-radius: 50%
}

.CategoryName {
    text-decoration: none;
    margin-top: 0px;
    display: block;
    text-align: center;
    color: var(--text-primary);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.CategoryName:hover {
    color: var(--navigation-Menu-hover-color);
}

/* ========= Premium Design Section Css */

.staticPicture {
    width: 100%;
    margin: 100px auto;
}

.premium {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
    margin-top: 30px;
}

.premium::before {
    content: '';
    height: 2px;
    position: absolute;
    background-color: #fff;
    width: 30%;
    top: 50%;
}

.premium::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30%;
    background-color: #fff;
    height: 2px;
}

.premium::before {
    left: 0;
}

.premium::after {
    right: 0;
}

.staticPicture>img {
    display: block;
    width: 100%;
    margin-top: 60px;
}

/* ============ Featured Collection Section ============== */

.slider {
    display: flex;
    overflow-x: auto;
  }
  
  .product-card {
    width: 300px;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    padding: 10px;
  }
  
  .discount-tag {
    background-color: #ff0000;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .sizes {
    margin-top: 10px;
  }
  
  .sizes select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }


.product-img{
    position: relative;
    padding-bottom: 100%;
}
.product-img img{
    width: 100%;
}
.product-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    transition: all .5s;   
}

.product-img:hover img:nth-child(2){
    opacity: 0 !important;
}
.product-title{
    color: #fff;
    padding-top: 15px;
    text-align: center;
}
.product-title h4{
    font-size: 16px;
    font-family:  'Jost', sans-serif;
    font-weight: 400;
    
}

.product-slide{
    margin: 0 15px;
}
.product-title p {
    padding-top: 10px;
}
.product-title p strike {
    color: #ff0000;
}
  
.size {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    box-sizing: border-box;
    color: #fff
}
  
.sizing {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 9px;
}
  
#number-pad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/* ====== Contact Us Page Css ======= */

.map iframe {
    width: 100%;
}

.map {
    position: relative;
}

.contact-heading {
    text-align: center;
    color: #fff;
    margin: 60px 0 30px 0;
}

.contact-form {
    position: absolute;
    background-color: #fff;
    color: #000;
    top: 80%;
    width: 80%;
    left: 10%;
}

.contact > h3 {
    font-size: 24px;
    text-align: start;
    margin: 30px 0 20px 0;
    font-family: 'Jost', sans-serif;
} 

.contact > p {
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    margin: 30px 0 40px 0;
}

.contact ul li > span {
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.contact ul li {

}

/* ==== Footer Css ==== */

.footer {
    margin-top: 150px;
}

.footer-container {
    width: 100%;
}

.parent-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    color: #000;
    padding: 40px;
    gap: 60px;
}

.parent-element > ul > li:nth-child(1) {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}

.parent-element .description {
    /* This is for the first paragraph element in Html file */
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 30px 0;
    color: #878787;
}

.contact-items {
    line-height: 2;
}

.customer-service {
    line-height: 3;
}

.customer-service li:nth-child(2) {
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    /* color: #878787; */
    margin-top: 10px;
    text-decoration: none;
}

.customer-service li:nth-child(3) {
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    /* color: #878787; */
    text-decoration: none;
    /* margin-top: 10px; */
}

.customer-service li:nth-child(4) {
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    /* color: #878787; */
    text-decoration: none;
    /* margin-top: 10px; */
}

.customer-service li:nth-child(5) {
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    /* color: #878787; */
    text-decoration: none;
    /* margin-top: 10px; */
}

.customer-service li:nth-child(6) {
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    text-decoration: none;
    /* margin-top: 10px; */
}

.customer-service li a {
    color: #878787;
    transition: all 0.2s ease-in;
}

.customer-service li a:hover {
    color: #00ffff;
}

.newsletter li:nth-child(2) p {
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #878787;
    margin-bottom: 15px;
}
